body { position: relative; }
table {
  margin: auto;
  margin-top: 25px;
}
#footer { margin-bottom: 0 }
.navbar-right {
  margin-right: 15px;
}
.dated-content { margin-top: 10px; }
@media (min-width: 769px) {
  .dated-content div:nth-last-child(1) { border-left: 1px solid #999; }
}
.dated-content div:nth-last-child(1) h1,
.dated-content div:nth-last-child(1) h2,
.dated-content div:nth-last-child(1) h3,
.dated-content div:nth-last-child(1) h4,
.dated-content div:nth-last-child(1) h5,
.dated-content div:nth-last-child(1) h6 {
  margin-top: 0;
}
.dated-content>div>.lead {
  margin-bottom: 10px;
}
.back-to-top {
  display: block;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.boxed {
  margin-top: 25px;
  background-color: #337AB7;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 72px;
  border-radius: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  cursor: default;
}
.sidebar.affix {
  top: 25px;
}
.sidebar a:hover,
.sidebar a:focus {
  color: #337AB7;
  text-decoration: none;
}
.sidebar .nav>li>a {
  color: #999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}
.sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}
.sidebar .nav>.active>a,
.sidebar .nav>li>a:hover,
.sidebar .nav>li>a:focus {
  color: #337AB7;
  background-color: transparent;
  border-left-color: #337AB7;
}
.sidebar .nav>li:not(.active)>a:hover,
.sidebar .nav>li:not(.active)>a:focus {
  border-left-width: 1px;
  padding-left: 21px;
}
.sidebar .nav .nav>li>a:hover,
.sidebar .nav .nav>li>a:focus {
  border-left-width: 1px;
  padding-left: 31px;
}
.sidebar .nav>.active>a,
.sidebar .nav>.active:hover>a,
.sidebar .nav>.active:focus>a {
  font-weight: 700;
  border-left-width: 2px;
}
.sidebar .nav .nav>.active>a,
.sidebar .nav .nav>.active:hover>a,
.sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}
